<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Total student</title>
</head>
<body style="background-color: rgb(14, 102, 102); margin:auto; color:white">
     <h1>table for student</h1>
<div  style="color:white">
    <table  class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">class</th>
                <th scope="col">Show Attendance</th>
                <th scope="col">Take Attendace</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <th scope="row">1</th>
                <td>{{this.Class}}</td>
                <td>{{this.LastName}}</td>
                <td>{{this.DOB}}</td>
                <td>{{this.Email}}</td>
                <td>{{this.PhoneNumber}}</td>
                <td>{{this.Class}}</td>
                <td>{{this.Class}}</td>
                <td>{{+}}</td>
                <td><a href=""></a></td>
                <td>{{this.Class}}</td> 
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</body>

</html>