<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
            .table_style{
            position: relative;
            background-color: rgba(148, 149, 151, 0.812);
            border: 2px solid rgb(50, 112, 136);
            border-radius: 1rem;
            margin: auto;
            height: 80vh;
            width: auto;
            z-index: 2;
        }
        </style>
    <title>Total student</title>
</head>
<body style="background-color: rgba(3, 71, 71, 0.938); margin:auto; color:white">
     <h1>table for student</h1>
<div  class="table_style">
    <table  class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">Serial number</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">DOB</th>
                <th scope="col">Email</th>
                <th scope="col">Max qualification</th>
                <th scope="col">experiance</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <th scope="row">1</th>
                <td>{{this.FirstName}}</td>
                <td>{{this.LastName}}</td>
                <td>{{this.DOB}}</td>
                <td>{{this.Email}}</td>
                <td>{{this.PhoneNumber}}</td>
                <td>{{this.MaxQualification}}</td>
                <td>{{this.Experiance}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</body>

</html>